.back-page {
    display: flex;
    align-items: center;
    color: #0075c0;
}

.guide-tour {
    position: relative;
    margin-right: 10px;
    height: auto;
    z-index: 2;
}

.guide-tour .guide-tour__link {
    text-decoration: none;
    white-space: nowrap;
    padding-left: 5px;
    color: #0075c0;
    font-size: 13px;
}

.guide-tour .guide-tour__link:hover {
    text-decoration: underline;
}

.arrow-check-all {
    padding: 10px 12px 0px 9px;
}

.container-page__overview {
    margin-bottom: 20px;
}

.supplier .container-page__overview .overview-item {
    width: 33.33333%;
    color: #fff;
    min-height: 64px;
    position: relative;
}

.supplier .container-page__overview .overview-item:not(:last-child){
    cursor: pointer;
}

.supplier .container-page__overview .overview-item.overview-item__dued-debt {
    margin-top: 8px;
}

.supplier .container-page__overview .overview-item.bg-dued-debt {
    background: #ff7f2c;
    height: 100%;
}

.supplier .container-page__overview .overview-item.overview-item__total-debt {
    margin: 8px 8px 0 8px;
}

.supplier .container-page__overview .overview-item.bg-total-debt {
    background: #b8bcc3;
    height: 100%;
}

.supplier .container-page__overview .overview-item.overview-item__payment {
    margin-top: 8px;
}

.supplier .container-page__overview .overview-item.bg-payment {
    background: #74cb2f;
    height: 100%;
}

.supplier .container-page__overview .overview-item__content {
    padding: 4px 10px;
}

.supplier .container-page__overview .overview-item .total-money {
    font-size: 24px;
}

.supplier .container-page__overview .overview-item .lable-overview {
    font-size: 14px;
}

.supplier .container-page__overview .overview-item .funnel-icon {
    height: 22px;
    position: absolute;
    width: 18px;
    right: 8px;
    top: 4px;
    background-position: -1814px -202px;
}

.supplier .container-page__overview .overview-item .overview-line {
    display: none;
    padding-top: 6px;
    background: #707070;
    opacity: 0.5;
}

.supplier .container-page__overview .overview-item:not(:last-child):hover {
    margin-top: 0;
    padding-top: 6px;
}

.supplier .container-page__overview .overview-item:not(:last-child):hover .overview-line {
    display: block;
}
