.tooltip {
    position: relative;
}

.tooltip-text {
    position: absolute;
    top: 100%;
    display: none;
    text-align: center;
    border-radius: 2px;
    padding: 3px 10px;
    font-size: 12px;
    font-family: MISA_AMIS_REGULAR;
    white-space: nowrap;
    background-color: #505050;
    color: #fff;
}

.tooltip-text.tooltip-default {
    top: calc(100% + 10%);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip:hover .tooltip-text {
    display: block;
}
