/* Class làm mờ */
.fade {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 99;
    animation: fadeIn ease 0.3s;
}

.drag {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* Text Danger CSS */
.text-danger {
    color: #ff0000 !important;
}

/* Border Danger CSS */
.border-red {
    border: 1px solid #ff0000 !important;
    outline: none !important;
}

.border-focus {
    border: 1px solid #019160 !important;
    outline: none !important;
}

.border-radius-2 {
    border-radius: 2px !important;
}

/* Line CSS */
.line-bottom {
    border-bottom: 1px solid #ccc !important;
    padding-bottom: 20px !important;
}

/* Height CSS */
.h-340 {
    height: 340px !important;
}

/* Display CSS */
.d-none {
    display: none !important;
}

.d-block {
    display: block !important;
}

.d-flex {
    display: flex !important;
}

/* CSS Flex Fix Center */
.flex-center {
    justify-content: center !important;
    align-items: center !important;
}

.flex-column {
    flex-direction: column !important;
}

.justify-space-between {
    justify-content: space-between !important;
}

.justify-center {
    justify-content: center !important;
}

.flex-grow {
    flex-grow: 1 !important;
}

.w-100 {
    width: 100% !important;
}

/* Tag a CSS */
.text-decoration-none {
    text-decoration: none;
}

/* Margin CSS */
.mb-control-group {
    margin-bottom: 0.5rem !important;
}

.mb-6 {
    margin-bottom: 6px !important;
}

.mb-16 {
    margin-bottom: 16px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

.ml-10 {
    margin-left: 10px !important;
}

.ml-20 {
    margin-left: 20px !important;
}

.mr-12 {
    margin-right: 12px !important;
}

/* Padding CSS */
.px-6 {
    padding-left: 1.5rem !important;
    padding-right: 1.5rem !important;
}

.px-3 {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}

.pr-4 {
    padding-right: 4px !important;
}

.p-gender {
    padding-left: 10px;
}

.p-radio {
    padding: 5px 0 6px 10px;
}

.pr-26 {
    padding-right: 26px !important;
}

.pr-20 {
    padding-right: 20px !important;
}

/* CSS Square Block */
.square-16 {
    display: block !important;
    width: 16px !important;
    height: 16px !important;
}

.square-16-inline {
    display: inline-block !important;
    width: 16px !important;
    height: 16px !important;
}

.square-24 {
    display: block !important;
    width: 24px !important;
    height: 24px !important;
}

.square-32 {
    display: block !important;
    width: 32px !important;
    height: 32px !important;
}

.square-48 {
    display: block !important;
    width: 48px !important;
    height: 48px !important;
}

/* Positon CSS */
.p-relative {
    position: relative !important;
}

/* CSS Cursor */
.cursor-pointer {
    cursor: pointer !important;
}

.cursor-grab {
    cursor: grab !important;
}

/* CSS Z-INDEX */
.z-index1 {
    z-index: 1 !important;
}

/* Order CSS */
.order-1 {
    order: 1 !important;
}

/* CSS TRANSFORM */
.rotate-180 {
    transform: rotate(180deg) !important;
    transition: transform 0.2s linear;
}

.rotate-0 {
    transform: rotate(0deg) !important;
    transition: transform 0.2s linear;
}

/* CSS Disable Text */
.disabled-text {
    cursor: default !important;
    color: #9e9e9e !important;
    pointer-events: none;
}

/* CSS Combobox Disable */
.combobox-disable {
    border-color: #babec5;
    background-color: #ececec;
}

/* CSS Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 1;
    }
}

@keyframes growUp {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes growDown {
    from {
        transform: translateY(-10px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes ring {
    0% {
        transform: rotate(20deg);
    }
    20% {
        transform: rotate(0deg);
    }
    40% {
        transform: rotate(-20deg);
    }
    60% {
        transform: rotate(0deg);
    }
    80% {
        transform: rotate(20deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

/* CSS SCROLLBAR */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}
