:root {
    --height-combobox-selected: 32px;
}

.combobox {
    padding: 0 !important;
    background-color: #fff;
}

.combobox .combobox-selected {
    display: flex;
    height: 100%;
    border: 1px solid #bbb;
    border-radius: 2px;
}

.combobox .combobox-selected .combobox-selected--input {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - var(--height-combobox-selected));
    height: 100%;
    align-items: center;
    padding: 0 0 0 10px;
}

.combobox .combobox-selected .combobox__control {
    width: 100%;
    height: 30px;
    border-radius: 2px;
    border: 1px solid #bbb;
    box-sizing: border-box;
}

.combobox .combobox-selected .combobox-selected--input input {
    border: none;
    outline: none;
    font-size: 13px;
    padding-right: unset;
    text-overflow: ellipsis;
    background-color: transparent;
    display: flex;
    flex-grow: 1;
    width: 100%;
}

.combobox .combobox-selected .combobox-selected--input input:read-only {
    cursor: pointer;
}

.combobox .combobox-selected .combobox-selected--input input::placeholder {
    font-family: MISA_AMIS_ITALIC;
    font-size: 12px;
}

.combobox .combobox-selected .combobox-selected--icon {
    width: var(--height-combobox-selected);
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.combobox .combobox-selected .combobox-selected--icon:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}

.combobox .combobox-data {
    position: absolute;
    border: 1px solid #babec5;
    border-radius: 2px;
    background-color: #fff;
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
}

.combobox .overflow-none ~ .combobox-data {
    overflow: unset !important;
}

.combobox .combobox-data.absolute-top {
    bottom: calc(100% + 10%);
    left: -1px;
    right: -1px;
    animation: growUp linear 0.2s;
    z-index: 9;
}

.combobox .combobox-data.absolute-bottom {
    top: calc(100% + 15%);
    left: -1px;
    right: -1px;
    animation: growUp linear 0.2s;
    z-index: 9;
}

.combobox .combobox-data.absolute-bottom-right {
    top: calc(100% + 15%);
    right: 25px;
    animation: growUp linear 0.2s;
    z-index: 9;
}

.combobox .combobox-table {
    width: 100%;
    border-collapse: collapse;
    text-align: left;
}

.combobox .combobox-table thead {
    background-color: #f4f5f8;
    position: sticky;
    top: 0;
}

.combobox .combobox-table th,
.combobox .combobox-table td {
    padding: 0 10px;
    height: 32px;
}

.combobox .combobox-table th:nth-child(2) {
    width: 250px;
}

.combobox .combobox-table tbody {
    max-height: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 2px 1px;
}

.combobox .combobox-table tbody tr {
    cursor: pointer;
}

.combobox .combobox-table tbody tr:hover,
.combobox .combobox__item--focus {
    color: #35bf22;
    background-color: #ebedf0 !important;
}

.combobox .combobox__item--selected {
    color: #fff;
    background-color: #2ca01c !important;
}

.combobox
    .combobox-data__default
    .combobox-options__item.combobox__item--selected:hover {
    color: #fff;
    background-color: #2ca01c !important;
}

.combobox .combobox-data__default .combobox-options__item {
    display: flex;
    align-items: center;
    cursor: pointer;
    height: 32px;
    line-height: 32px;
    white-space: nowrap;
    padding: 0 14px 0 14px;
    background-color: #fff;
}

.combobox .combobox-data__default .combobox-options__item:hover {
    background-color: #ebedf0;
    color: #2ca01c;
}

.combobox .combobox-data__default .combobox-options__item--active {
    background-color: #2ca01c;
    color: #fff;
}

.combobox .combobox-data__default .combobox-options__item--active:hover {
    background-color: #2ca01c;
    color: #fff;
}

.combobox-loading-bg {
    border-color: #babec5;
    background-color: #ececec;
}

.combobox.combobox-tag {
    height: auto !important;
}

.combobox.combobox-tag .combobox-selected {
    display: flex;
    min-height: 30px;
    border-radius: 2px;
    background-color: #fff;
}

.combobox.combobox-tag .combobox-selected .combobox-selected--icon {
    width: 32px;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.combobox.combobox-tag .combobox-selected .combobox-selected--input {
    display: flex;
    min-height: 30px;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    width: calc(100% - 30px);
    align-items: center;
    padding: 0 0 0 10px;
}

.combobox.combobox-tag
    .combobox-selected
    .combobox-selected--input
    input[type="text"] {
    width: auto !important;
    min-width: 50px;
}

.combobox
    .combobox-selected
    .combobox-selected--input
    .selected-item:not(:last-child) {
    margin-right: 2px;
}

.combobox .combobox-selected .combobox-selected--input .selected-item {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 3px;
    background-color: #f0f0f0;
    padding: 2px 3px 2px 5px;
    margin: 3px;
    max-width: calc(100% - 50px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.combobox.combobox-tag .selected-item .selected-item__content {
    display: flex;
}

.combobox.combobox-tag
    .selected-item
    .selected-item__content
    .selected-item__text {
    font-size: 12px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.combobox.combobox-tag
    .selected-item
    .selected-item__content
    .selected-item__icon {
    margin-left: 4px;
}

.combobox-selected--icon-br {
    border-right: 1px solid #babec5;
}

.combobox.combobox-tag .combobox-selected .combobox-selected--icon:hover {
    background-color: #e0e0e0;
    border-color: #e0e0e0;
}
